.about.media{
    .banner{
        position: relative;
        height: 290px;
        background-image: url(../images/banner2_m.jpg);
        background-size: 100%;
        > div{
            width: 100%;
            justify-content: flex-start;
            h2{
                width: 100%;
                padding-top: 90px;
                padding-right: 20px;
                font-size: 16px;
                box-sizing: border-box;
                text-align: right;
            }
            p{
                display: none;
            }
        }
    }
    .main{
        width: 100%;
        padding: 0 10px;
    }
    .road-map,.road-circle{
        width: 100%;
    }
    .road-map{
        margin-top: 0;
        height: 350px;
        padding: 0 7px;
        box-sizing: border-box;
    }
    .road-circle{
        height: 315px;
        margin-bottom: 0;
    }

    .main-mobile{
        display: block;
        padding: 10px 18px;
        font-size: 10px;
        line-height: 1.8;
        text-indent: 2em;
        color: #282828;
    }
    .more.media_more{
        width: 100%;
        padding: 5px 40px 10px;
        margin-bottom: 10px;
        > h3{
            font-size: 14px;
            text-indent: 0px;
            text-align: left;
            
            em{
                font-size: 20px;
            }
        }
        p{
            text-indent: 0px;
            font-size: 10px;
            &:nth-child(1){
                display: none;
            }
            &:nth-child(2){
                display: block;
            }
        }
    }
    .end{
        padding: 15px 0;
        h3{
            font-size: 16px;
        }
        p{
            font-size: 12px;
        }
    }
}