$mwidth: 84.2%;
$fbg: #333333;
$fbg2: #3d3d3d;

$color_blue: #475072;  
$color_grey: #8f8f8f;
$color_orange: #ff6142;
$color_base: #282828;

@mixin eps{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
