@import "./base";
.banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 629px;
    background: url(../../images/banner1.jpg) no-repeat center center;
    > p{
        color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.6s;
        &:nth-child(1){
            font-size: 90px;
        }
        &:nth-child(2){
            font-size: 60px;
        }
    }
}
.about,.surf,.advantage,.group,.cooperation,.connect{
    padding-top: 40px;
    h2{
        color: $color_blue;
        font-size: 30px;
        line-height: 66px;
        text-align: center;
    }
    > p{
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        &.dot{
            letter-spacing: 6px;
        }
        &,a{
            color: $color_grey;
        }
        a{
            margin: 0 25px;
            letter-spacing: 0px;
        }
    }
}
.about{
    height: 682px;
    background: #f8f9fb url(../../images/map.jpg) no-repeat center center;
    box-sizing: border-box;
    background-size: auto 100%;
    transition: 0.6s;
    .dot,.more{
        display: none;
    }
    ul{
        width: $mwidth;
        margin: 112px auto 0;
        display: flex;
        justify-content: space-between;
        padding: 0 8%;
        box-sizing: border-box;
        li{
            width: 160px;
            transition: 0.6s;
            cursor: pointer;
            
            &:hover{
                transform: translate3d(0,-20%,0);
            }
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 152px;
                height: 152px;
                margin: 0 auto 45px;
                border-radius: 50%;
                background-color: $color_orange;
                text-align: center;
                color: #fff;
                font-size: 46px;
            }
            > p{
                color: $color_base;
                font-size: 18px;
                line-height: 18px;
                text-align: center;
            }
        }
    }
}
.surf{
    $bwidth: 1453px;
    ul{
        display: flex;
        margin: 28px auto 56px;
        justify-content: space-between;
        width: $mwidth;
        max-width: $bwidth;
        align-items: center;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 440px;
            // height: 96px;
            padding: 15px 0;
            border: 1px solid $line_grey;
            border-radius: 8px;
            box-sizing: border-box;
            background-color: #fff;
            cursor: pointer;
            &:hover{
                z-index: 2;
                transform: scale(1.1)
            }
            i{
                display: block;
                width: 66px;
                height: 66px;
                border-radius: 50%;
                background-color: $color_blue;
                background-position: center center;
                background-repeat: no-repeat;
                margin-right: 10px;
                background-size: 90%;
            }
            p{
                font-size: 16px;
                line-height: 1.5;
                color: $color_black;
                @include eps;
            }
            &:nth-child(2) i{
                background-size: 85%;
                background-position: 50% 70%;
            }
            &:nth-child(3) i{
                background-position: 55% 40%;
            }
        }
        $icons: "icon_wifi.png" "icon_rocket.png" "icon_circle.png";
        @for $i from 1 to 4{
            li:nth-child(#{$i}) i{
                background-image: url("../../images/#{nth($icons,$i)}");
            }
        }
    }
    .surf-img img{
        display: block;
        width: $mwidth;
        max-width: $bwidth;
        margin: 0 auto 45px;
    }

    &,li,li i,li p{
        transition: 0.6s;
    }
}
.advantage,.group{
    ul{
        display: flex;
        margin: 90px auto 0;
        justify-content: space-between;
        width: $mwidth;
        li{
            position: relative;
            img{
                display: block;
            }
            > div{
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                color: #fff;
                text-align: center;
                justify-content: center;
                align-items: center;
                @include eps;
            }
            h3{
                font-size: 28px;
                text-align: center;
                color: #fff;
            }
        }
    }
}
.advantage{
    box-sizing: border-box;
    height: 680px;
    background: url(../../images/advantage.jpg) no-repeat center center;
    h2, > p{
        color: #fff;
    }
    &,img,h2{
        transition: 0.6s;
    }
}
.group{
    margin-bottom: 105px;
    ul li{
        border: 1px solid $line-light;
        overflow: hidden;
        cursor: pointer;
        > div{
            flex-direction: column;
            transform: translate3d(0,100%,0);
            transition: transform 0.6s;
        }
        p{
            margin-top: 7px;
            font-size: 24px;
        }
        > h3{
            position: absolute;
            left: 0;
            bottom: 45px;
            width: 100%;
        }
        $bgcolor: rgba(92,172,240,0.95) rgba(93,210,151,0.95) rgba(240,92,92,0.95);
        @for $i from 1 to 4{
            &:nth-child(#{$i}) > div{
                background-color: nth($bgcolor,$i);
            }
        }
        &:hover{
            > div{
                transform: translate3d(0,0,0);
            }
            > h3{
                display: none;
            }
        }

    }
    &,li img,li h2,li p{
        transition: 0.6s;
    }
}
.cooperation{
    background-color: #f6f8fa;
    padding-bottom: 120px;
    ul{
        display: flex;
        margin: 90px auto 0;
        background-color: #fff;
        width: $mwidth;
        li{
            flex: 1;
            margin-right: 10px;
            padding: 60px 0 33px;;
            text-align: center;
            color: $color_black;
            img{
                display: block;
                margin: 0 auto 54px;
            }
            h3{
                font-size: 28px;
                margin-bottom: 19px;
            }
            p{
                transition: 0.6s;
                font-size: 18px;
                line-height: 1.7;
            }
        }
    }
}
.connect{
    margin-bottom: 30px;
    h4{
        padding: 30px 0 15px;
        font-size: 18px;
        text-align: center;
        color: $color_black;
    }
    ul{
        //display: flex;
        margin: 0 auto;
        padding-bottom: 30px;
        width: $mwidth;
        //justify-content: space-between;
        li{
            position: relative;
            display: flex;
            //flex: 1;
            padding: 10px;
            justify-content: center;
            align-items: center;
            &:last-child{
                margin-right: 0px;
            }
            img{
                width: 100%;
            }
            > a{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
        &.ul-width{
            li{
                width: 16.6%;
                float: left;
                box-sizing: border-box;
            }
        }
        &.ul-flex{
            display: flex;
            justify-content: space-between;
            li{
                flex: 1;
            }
        }
    }
}
