@import "./base";
@media screen and (max-width:1440px){
    /*对应 home.vue*/
    .home {
        .banner{
            p{
                &:nth-child(1){
                    font-size: 72px;
                }
                &:nth-child(2){
                    font-size: 48px;
                }
            }
        }
        .about{
            height: 600px;
        }
        .surf{
            ul li{
                width: 330px;
            }
        }
        .advantage{
            height: 600px;
            ul li img{
                width: 300px;
            }
        }
        .group{
            ul li img{
                width: 380px;
            }
        }
        .cooperation ul li{
            h3{
                font-size: 26px;
            }
            p{
                font-size: 16px;
            }
        }
    }
    /*对应 about.vue*/
    .connect.media{
        .connect_l{
            h2{
                font-size: 20px;
            }
            address,p{
                font-size: 14px;
            }
        }
    }
    /*对应 about.vue*/
    .about.media{
        .banner{
            h2{
                font-size: 40px;
            }
            p{
                font-size: 24px;
            }
            h2,p{
                width: 672px;
            }
        }
        .more{
            h3{
                font-size: 26px;
                em{
                    font-size: 38px;
                }
            }
            p{
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 1199px){
    .home {
        .banner{
            p{
                &:nth-child(1){
                    font-size: 60px;
                }
                &:nth-child(2){
                    font-size: 40px;
                }
            }
        }
        .about{
            height: 530px;
        }
        .surf{
            ul li{
                width: 280px;
                i{
                    width: 40px;
                    height: 40px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        .advantage,.group{
            ul li{
                h3{
                    font-size: 24px;
                }
            }
        }
        .advantage{
            height: 530px;
            ul li{
                img{
                    width: 240px;
                }
            }
        }
        .group{
            ul li {
                img{
                    width: 300px;
                }
                p{
                    font-size: 22px;
                }
            }
        }
        .cooperation ul li {
            h3{
                font-size: 22px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    .connect.media{
        .connect_l{
            h2{
                font-size: 18px;
            }
            address,p{
                font-size: 12px;
            }
        }
    }
    .about.media{
        .banner{
            h2{
                font-size: 36px;
            }
            p{
                font-size: 20px;
            }
            h2,p{
                width: 640px;
            }
        }
        .more{
            h3{
                font-size: 22px;
                em{
                    font-size: 34px;
                }
            }
            p{
                font-size: 14px;
            }
        }
    }
}


@media screen and (max-width: 959px){
    .home {
        .banner{
            p{
                &:nth-child(1){
                    font-size: 45px;
                }
                &:nth-child(2){
                    font-size: 30px;
                }
            }
        }
        .about{
            height: 490px;

        }
        .surf{
            ul li{
                width: 220px;
                i{
                    width: 33px;
                    height: 33px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
        .advantage,.group{
            ul li{
                h3{
                    font-size: 20px;
                }
            }
        }
        .advantage{
            height: 460px;
            ul li{
                img{
                    width: 200px;
                }
            }
        }
        .group{
            ul li {
                img{
                    width: 240px;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
    .about.media{
        .banner{
            h2{
                font-size: 32px;
            }
            p{
                font-size: 16px;
            }
            h2,p{
                width: 448px;
            }
        }
        .more{
            h3{
                font-size: 20px;
                em{
                    font-size: 30px;
                }
            }
            p{
                font-size: 12px;
            }
        }
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .mz-foot.media{
        > div:first-child ul, > div:last-child p{
            padding-right: 40px;
        }
    }
}

@media only screen and (max-width: 479px){
    
    @import "./common_m"; // 对应 mz-head.vue、mz-foot
    @import "./home_m";
    .connect.media{
        .connect-main{
            width: 100%;
            flex-direction: column-reverse;
        }
        .connect_r{
            height: 300px;
        }
        .connect_l{
            padding: 20px 20px 5px;
            background-color: #fff;
            > div{
                margin-bottom: 10px;
            }
            h2{
                font-size: 14px;
                margin-bottom: 5px;
            }
            address,p{
                padding-left: 18px;
                background-size: 12px;
            }
        }
    }
}














